<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStoreService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64512/StoreService.svc/ComputerStoreService.StoreService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStoreService"
                contract="IStoreService" name="BasicHttpBinding_IStoreService" />
        </client>
    </system.serviceModel>
</configuration>